.footer{
    background-color: tomato;
    padding: 10px;
    text-align: center;
    color: white;
    height: 80px;

    /* height: 10px; */
}

.footer h1{
    color: white;
    /* height: 10px; */
}